In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [52]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [53]:
df.drop('id',axis=1,inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 439.3+ KB

In [55]:
df.isna().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [56]:
df.dropna(inplace=True)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4909 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4909 non-null   object
 1   age                4909 non-null   float64
 2   hypertension       4909 non-null   int64
 3   heart_disease      4909 non-null   int64
 4   ever_married       4909 non-null   object
 5   work_type          4909 non-null   object
 6   Residence_type     4909 non-null   object
 7   avg_glucose_level  4909 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     4909 non-null   object
 10  stroke             4909 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 460.2+ KB

In [58]:
df.gender.value_counts()

gender
Female    2897
Male      2011
Other        1
Name: count, dtype: int64

In [59]:
df.drop(df[df['gender']=='Other'].index, inplace=True)

In [60]:
df.gender.value_counts()

gender
Female    2897
Male      2011
Name: count, dtype: int64

In [61]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [62]:
for c in df.columns:
    print(df[c].value_counts(),"\n\n")
    print('='*32)

gender
Female    2897
Male      2011
Name: count, dtype: int64


================================
age
78.00    93
57.00    93
52.00    85
54.00    84
53.00    83
         ..
1.40      3
0.16      3
0.40      2
0.08      2
0.48      2
Name: count, Length: 104, dtype: int64


================================
hypertension
0    4457
1     451
Name: count, dtype: int64


================================
heart_disease
0    4665
1     243
Name: count, dtype: int64


================================
ever_married
Yes    3204
No     1704
Name: count, dtype: int64


================================
work_type
Private          2810
Self-employed     775
children          671
Govt_job          630
Never_worked       22
Name: count, dtype: int64


================================
Residence_type
Urban    2490
Rural    2418
Name: count, dtype: int64


================================
avg_glucose_level
93.88     6
73.00     5
83.16     5
91.85     5
72.49     5
         ..
70.09     1
186.21    1
174.12    1
171.23    1
105.92    1
Name: count, Length: 3851, dtype: int64


================================
bmi
28.7    41
28.4    38
27.7    37
27.6    37
26.7    37
        ..
47.9     1
13.0     1
13.9     1
54.1     1
14.9     1
Name: count, Length: 418, dtype: int64


================================
smoking_status
never smoked       1852
Unknown            1483
formerly smoked     836
smokes              737
Name: count, dtype: int64


================================
stroke
0    4699
1     209
Name: count, dtype: int64


================================

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4908 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4908 non-null   object
 1   age                4908 non-null   float64
 2   hypertension       4908 non-null   int64
 3   heart_disease      4908 non-null   int64
 4   ever_married       4908 non-null   object
 5   work_type          4908 non-null   object
 6   Residence_type     4908 non-null   object
 7   avg_glucose_level  4908 non-null   float64
 8   bmi                4908 non-null   float64
 9   smoking_status     4908 non-null   object
 10  stroke             4908 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 460.1+ KB

In [64]:
df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,4908.000000,4908.000000,4908.000000,4908.000000,4908.00000,4908.000000
mean,42.868810,0.091891,0.049511,105.297402,28.89456,0.042584
std,22.556128,0.288901,0.216954,44.425550,7.85432,0.201937
min,0.080000,0.000000,0.000000,55.120000,10.30000,0.000000
25%,25.000000,0.000000,0.000000,77.067500,23.50000,0.000000
50%,44.000000,0.000000,0.000000,91.680000,28.10000,0.000000
75%,60.000000,0.000000,0.000000,113.495000,33.10000,0.000000
max,82.000000,1.000000,1.000000,271.740000,97.60000,1.000000

In [65]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [66]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first')

In [67]:
ohe_features = ['gender','ever_married','work_type','Residence_type','smoking_status']
encoded=encoder.fit_transform(df[ohe_features]).toarray()
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out(),index=df.index)
df = pd.concat([df,encoder_df],axis=1)

In [68]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,...,gender_Male,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [79]:
df.drop(ohe_features,axis=1,inplace=True)

In [80]:
df.to_csv('cleaned_data.csv', index=False)

In [81]:
import pickle
with open('encoder.pkl', 'wb') as file:
    pickle.dump(encoder, file)